.App {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: flex-start;
}

.chart {
    border: solid 1px #00ff55;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
}